[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=2.1"
django-environ = "*"
django-extensions = "*"
ipython = "*"
celery = {extras = ["redis"]}
raven = "*"
"psycopg2-binary" = "*"
django-debug-toolbar = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
